{% extends 'base.html' %}

{% block title %}Whatever tio{% endblock %}

{% block main %}
    <div class="row" >
        {% if user.is_authenticated %}
            <p>Olá {{user.username}}</p>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-8">
            <form class="form-group">
                <div class="form-group">
                <input type="text" class="form-control" name="pesquisa">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Pesquisar</button>
        </div>
            </form>
    </div>

    <div class="row">
        <ul>
            <h1>Lista de clientes</h1>
            {% for pessoa in pessoas %}
            <li>
                <a href="{% url 'person_update' pessoa.id %}">{{ pessoa.first_name }}</a>
                <a href="{% url 'person_delete' pessoa.id %}">Deletar</a>
            </li>

            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'person_new' %}" class="btn btn-info">Novo cliente</a>
        </div>
    </div>
    <a href="{% url 'logout' %}" class="btn btn-danger">Sair</a>

{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
{% endblock %}